/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.hero{
    @apply bg-nSilver;
    height: 28rem;
}
.community-member{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.achievements{
    @apply bg-nSilver;
}
.counters{
    margin: 2rem;
}
.updates-img{
    height: 60%;
    width: 75%;
}
.updates-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.updates-img-ext{
    @apply bg-nSilver flex flex-col text-center items-center p-4 gap-2;
    width: 60%;
    transform: translateY(-25%);
    border-radius: 8px;
}
.footer-list{
    @apply flex flex-col gap-4;
}
.footer-list ul{
    @apply flex flex-col justify-around items-start;
}
.footer-list li{
    margin: 10px;
}
h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
}
h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}
h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.body-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.body-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.body-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.counters h1{
     font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    @apply text-nD_Grey;
}
.updates-img-ext h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    @apply text-nGrey;
}
.button1{
    color: white;
    @apply bg-primary;
    border-radius: 3px;
    height: 2.5rem;
    width: 8.5rem;
    
}
.button2{
    background: white;
    @apply text-primary;
    border-radius: 3px;
    border: 1px solid #28CB8B;
    height: 2.5rem;
    width: 8.5rem;
}
.hidden1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s ease-out;
}
.show1{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    
}